<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<span>Objectives:</span>
<ul>
    <li>List popular languages for Data Science</li>
    <li>Create a code cell to convert minutes to hours</li>
    <li>Create a code cell to multiply and add numbers</li>
    <li>Create a markdown cell introducing arithmetic expression examples</li>

<span>Some of the commonly used libraries used by Data Scientists include:</span>
<ol>
    <li>pytorch</li>
    <li>Pandas</li>
    <li>scikit learn</li>

|Data Science Tools|
|---|
|Jupyter notebooks|
|Rstudio|
|Zeppelin Notebooks|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
+ - * /

This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [ ]:
200/60

3.3333333333333335

<h2>Author</h2>
<span>Rachid Baalla</span>